<div  class="panel panel-default">
	<p id="notice"><%= notice %></p>

	<div  class="panel-body">
		<p>
		    <%= link_to pins_path, class: "btn btn-primary" do %>
	                <span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="false"></span> Atrás
            <% end %>

		    <%if @pin.user == current_user %>
		      	<%= link_to edit_pin_path(@pin), class: "btn btn-primary" do %>
	                <span class="glyphicon glyphicon-edit" aria-hidden="false"></span> Editar
            	<% end %>
			<% end %>

		    <br><br>
		    <strong><%= @pin.user.email %></strong>
		    <br>
			<strong><%= @pin.description %></strong>		 	
		  	<br><br>

		  	<%= image_tag @pin.image.url%>
		</p>

		
	</div>
</div>
